*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript linguist-detectable
*.py linguist-language=Python
*.ipynb linguist-detectable
*.md linguist-language=Markdown
*.csv linguist-language=CSV